
<div class="row-is-full content has-text-centered">
    <p>
      <strong><i class="fas fa-glass-whiskey"></i>  Whiskey Inventory</strong> by <a href="https://github.com/AndySanchez726">Andy Sanchez</a> - <a href="https://github.com/jpd61">Joseph DeWoody</a> - <a href="https://github.com/durcoorigin">Chris Short</a> | source code:
      <a href="https://github.com/jpd61/project2-group8"><i class="fab fa-github"></i></a> 
    </p>
  </div>