<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Whiskey Inventory</title>
</head>
<body>
    <!-- Header -->
    <header>
        <h1><i class="fas fa-glass-whiskey"></i> Whiskey Inventory</h1>
        <nav class="navbar navbar-expand-sm navbar-light">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav m-auto">
                <a class="nav-item nav-link" href="/">Home</a>
                {{!-- <a class="nav-item nav-link" href="/browse">Browse</a> --}}

                {{#if loggedIn}}
                    <a class="nav-item nav-link" href="/inventory">Inventory</a>
                    <a id="logout" class="nav-item nav-link">Logout</a>
                {{else}}
                    <a class="nav-item nav-link" href="/login">Login</a>
                {{/if}}
              </div>
            </div>
          </nav>    
    </header>

    <!-- Hero -->
    <div class="hero">
        <img src="/images/hero_crop.jpg" class="img-fluid max-width: 100% height: auto" alt="">
    </div>

    <!-- Main -->
    <main class="p-3">
        {{{ body }}}
    </main>

    <!-- Footer -->
    <footer>
        {{>footer}}
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
{{!-- <script src="/javascript/script.js"></script> --}}
</body>
</html>