<!-- Hero -->
    <div class="hero">
        <img src="../images/hero_crop.jpg" class="img-fluid max-width: 100% height: auto" alt="">
    </div>

    <!-- Main -->
    <main class="">
        <div class="container">
            <div class="d-flex justify-content-around align-items-center p-3">
                <h2 class="text-light">Browse</h2>
                <!-- Sort Button -->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Name</a>
                        <a class="dropdown-item" href="#">Rating: Highest to Lowest</a>
                        <a class="dropdown-item" href="#">Rating: Lowest to Highest</a>
                    </div>
                </div>
            </div>
            <!-- List -->
            <ol class="container ">
                <li class="row justify-content-center m-3">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <span class="col-3 ">Name</span>
                                <span class="col-1">Rating</span>
                            </div>
                            <div class="card-body">
                                <img class="rounded" src="http://placehold.jp/150x150.png" alt="Featured 4">
                                <span class="col-3">Notes</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="row justify-content-center m-3">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <span class="col-3 ">Name</span>
                                <span class="col-1">Rating</span>
                            </div>
                            <div class="card-body">
                                <img class="rounded" src="http://placehold.jp/150x150.png" alt="Featured 4">
                                <span class="col-3">Notes</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="row justify-content-center m-3">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <span class="col-3 ">Name</span>
                                <span class="col-1">Rating</span>
                            </div>
                            <div class="card-body">
                                <img class="rounded" src="http://placehold.jp/150x150.png" alt="Featured 4">
                                <span class="col-3">Notes</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="row justify-content-center m-3">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <span class="col-3 ">Name</span>
                                <span class="col-1">Rating</span>
                            </div>
                            <div class="card-body">
                                <img class="rounded" src="http://placehold.jp/150x150.png" alt="Featured 4">
                                <span class="col-3">Notes</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </main>
