<!-- For Future Development -->

    <!-- Main -->
    {{!-- <main class="animate__animated animate__fadeInUp">
        <div class="container">
            <div class="d-flex justify-content-around align-items-center p-3">
                <h2 class="text-light">Browse</h2> --}}
                <!-- Sort Button Future Development -->
                {{!-- <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Name</a>
                        <a class="dropdown-item" href="#">Rating: Highest to Lowest</a>
                        <a class="dropdown-item" href="#">Rating: Lowest to Highest</a>
                    </div>
                </div> --}}
            {{!-- </div>
            <!-- List -->
            <ol class="container ">
            {{#each whiskeys as |whiskey|}}
            {{>browser}}
            {{/each}}
            </ol>
        </div>
    </main> --}}
