<div class="container">
            <div class="d-flex justify-content-between align-items-center p-3">
                <h2 class="text-light">My List</h2>
                <button class="btn btn-primary">Add +</button>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Name</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <ol class="container">
                <li class="row align-items-center justify-content-center">
                    <img class="rounded" src="http://placehold.jp/150x150.png" alt="Featured 4">
                    <span class="col-3 ">Name</span>
                    <span class="col-1">Rating</span>
                    <span class="col-3">Notes</span>
                </li>
                <li class="row align-items-center justify-content-center">
                    <img class="rounded" src="http://placehold.jp/150x150.png" alt="Featured 4">
                    <span class="col-3 ">Name</span>
                    <span class="col-1">Rating</span>
                    <span class="col-3">Notes</span>
                </li>
                <li class="row align-items-center justify-content-center">
                    <img class="rounded" src="http://placehold.jp/150x150.png" alt="Featured 4">
                    <span class="col-3 ">Name</span>
                    <span class="col-1">Rating</span>
                    <span class="col-3">Notes</span>
                </li>
            </ol>
        </div>