<main>
        <div class="p-3">
            <h2 class="text-center text-light">Featured</h2>
            <div class="container">
            {{#each whiskeys as |whiskey|}}   
                {{>main}}
            {{/each}}       
            </div> 
            </div>
        </div>
    </main>
