<main>
        <div class="p-3">
            <h2 class="text-center text-light">Featured Whiskeys</h2>
            <div class="container animate__animated animate__fadeInUp">
            <ol class="container ">
            {{#each whiskeys as |whiskey|}}
            {{>browser}}
            {{/each}}
            </ol>    
            </div> 
            </div>
        </div>
    </main>
