<main class="">
        <div class="container">
            <div class="d-flex justify-content-around align-items-center p-3">
                <h2 class="text-light">My Inventory</h2>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Add +
                </button>                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add A Whiskey</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">


        <!-- Form goes here -->
        <form class="new-whiskey">
        <div>
            <label for="whiskey">Choose your whiskey from the list:</label>
            <input list="whiskeys" name="whiskey" id="whiskey">
            {{!-- will pull from API to fill with #each --}}
            <datalist id="whiskeys">
                <option value="Jack Daniels">
                <option value="Crown Royal">
                <option value="Garrison Brothers">
                <option value="Buffalo Trace">
                <option value="Redemption Rye">
            </datalist>
        </div>
        <div>
            <label for="size">Select a bottle size:</label>
            <input list="sizes" name="size" id="size">
            {{!-- Current bottle sizes, leave this hardcoded --}}
            <datalist id="sizes">
                <option value="1.75 liters">
                <option value="1 liter">
                <option value="750 milliliters">
                <option value="375 milliliters">
                <option value="200 milliliters">
                <option value="100 milliliters">
                <option value="50 milliliters">
            </datalist>
        </div>
        {{!-- <div>
            <label for="tasting-note">Choose your tasting notes from the list:</label>
            <input list="tasting-notes" name="tasting-note" id="tasting-note"> --}}
            {{!-- can leave this here and pull notes from table and/or replace with API results --}}
            {{!-- <datalist id="tasting-notes">
                <option value="Orange">
                <option value="leather">
                <option value="coffee">
                <option value="spice">
                <option value="vanilla">
            </datalist>
        </div> --}}
        <div>
            <label for="retail-price">What is the retail price of the whiskey?</label>
            <input type="number" id="retail-price" />
        </div>
        {{!-- <div>
            <p>Do you want to list a resale value for your whiskey?</p>
            <input type="radio" id="Yes" name="resale-choice" value="yes">
            <label for="yes">Yes</label><br>
            <input type="radio" id="no" name="resale-choice" value="no">
            <label for="no">No</label><br>
        </div> --}}
        <div>
            <label for="resale-price">What is the resale price of the whiskey?</label>
            <input type="number" id="resale-price" />

            {{!-- <label for="resale-reference">Reference for resale value of the whiskey:</label>
            <input type="url" id="resale-reference" /> --}}
        </div>
    
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button submit" class="btn btn-primary" id="submit">Save changes</button>
                        </div>
                        </form>
                    </div>
                    </div>
                </div>
                <!-- Sort Button Future Development-->
                {{!-- <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Name</a>
                        <a class="dropdown-item" href="#">Rating: Highest to Lowest</a>
                        <a class="dropdown-item" href="#">Rating: Lowest to Highest</a>
                    </div>
                </div> --}}
            <button class="btn btn-danger rounded">Delete</button>

            </div>
            <!-- List -->
            <ol class="container ">
            {{#if whiskeys.length}}
            {{#each whiskeys as |whiskey|}}
            {{>inventory-cards}}
            {{/each}}
            </ol>
            {{else}}
            <h6 class="text-center text-light font-italic m-3">You do not currently have any whiskeys!</h6>
            {{/if}}
        </div>
    </main>

 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

<script src="/javascript/whiskey.js"></script>