/* body {
    background-color: #;
} */
header {
    text-align: center;
}
main {
    background-color: #49111C;
    padding: 0 0 15px 0;
}
footer {
    text-align: center; 
    text-decoration: none;
}

.comment-body {
    height: 120px;
    width: 590px;
}

/* added by DeWoody */
#whiskey-pic {
    width: 200px;
    height: 300px;
}
.inv-head {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}